@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
    margin: auto;
}

body, input, select, textarea {
	color: rgb(255,255,255);
	font-family: 'Montserrat', sans-serif;
	font-size: 15pt;
	font-weight: 300 !important;
	letter-spacing: -0.025em;
	line-height: 1.75em;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.main-container {
	min-width: auto;
}

#404bg {
	background-image: url('../images/lionel404.jpg');
	background-position: fixed;
}


#navbar {
    width: 100%;
    height: 100px;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 3px #333333;
    background-color: rgba(77,88,94,0.4);
}

#navbar a:hover {
    color: rgb(251,180,30);
    text-shadow: 2px 2px 3px #333333;
}

#navbar ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
}

#navbar li{
    display: inline-block;
    padding: 20px;
}

a {
	-moz-transition: border-color 0.2s ease-in-out;
	-webkit-transition: border-color 0.2s ease-in-out;
	-ms-transition: border-color 0.2s ease-in-out;
	transition: border-color 0.2s ease-in-out;
	border-bottom: dotted 1px;
	color: inherit;
	outline: 0;
	text-decoration: none;
}

a:hover {
	border-color: transparent;
}

h1, h3, .blurbs {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1#author {
	background-image: url(../images/drywood.jpg);
}

h1, h3 {
    padding-top: 20px;
    padding-bottom: 30px;
    background: rgba(0,0,0,.15)
}

h3 {
    color: rgb(242,242,242);
}

p {
    padding: 20px;
}

hr { 
    width:100%; 
    padding: .5px;
    background: rgba(0,0,0,0.3);
}

.link-list {
    margin: auto;
    text-align: justify;
}

img.post {
    margin: auto;
    display: block;
    padding-top: 40px;
}

ul ol {
	    list-style-type: none;
	    padding:0; 
	    margin:0;
}

/* Background Animation Scroll */

#horizontal-scroll {
	width: auto;
	height: 600px;
	background: url(../images/baywater.jpg) repeat-x center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-animation: backgroundScroll 250s linear infinite;
	animation: backgroundScroll 250s linear infinite;
}
 
@-webkit-keyframes backgroundScroll {
	from {background-position: 0 0;}
	to {background-position: -3330px 0;}
}
 
@keyframes backgroundScroll {
	from {background-position: 0 0;}
	to {background-position: -3330px 0;}
}
/* HEADER */
	/* HEADER Animation */
	@-moz-keyframes header {
		0% {
			-moz-transform: translate3d(0,1em,0);
			-webkit-transform: translate3d(0,1em,0);
			-ms-transform: translate3d(0,1em,0);
			transform: translate3d(0,1em,0);
			opacity: 0;
		}

		100% {
			-moz-transform: translate3d(0,0,0);
			-webkit-transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
			opacity: 1;
		}
	}

	@-webkit-keyframes header {
		0% {
			-moz-transform: translate3d(0,1em,0);
			-webkit-transform: translate3d(0,1em,0);
			-ms-transform: translate3d(0,1em,0);
			transform: translate3d(0,1em,0);
			opacity: 0;
		}

		100% {
			-moz-transform: translate3d(0,0,0);
			-webkit-transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
			opacity: 1;
		}
	}

	@-ms-keyframes header {
		0% {
			-moz-transform: translate3d(0,1em,0);
			-webkit-transform: translate3d(0,1em,0);
			-ms-transform: translate3d(0,1em,0);
			transform: translate3d(0,1em,0);
			opacity: 0;
		}

		100% {
			-moz-transform: translate3d(0,0,0);
			-webkit-transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
			opacity: 1;
		}
	}

	@keyframes header {
		0% {
			-moz-transform: translate3d(0,1em,0);
			-webkit-transform: translate3d(0,1em,0);
			-ms-transform: translate3d(0,1em,0);
			transform: translate3d(0,1em,0);
			opacity: 0;
		}

		100% {
			-moz-transform: translate3d(0,0,0);
			-webkit-transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
			opacity: 1;
		}
	}

	@-moz-keyframes nav-icons {
		0% {
			-moz-transform: translate3d(0,1em,0);
			-webkit-transform: translate3d(0,1em,0);
			-ms-transform: translate3d(0,1em,0);
			transform: translate3d(0,1em,0);
			opacity: 0;
		}

		100% {
			-moz-transform: translate3d(0,0,0);
			-webkit-transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
			opacity: 1;
		}
	}

	@-webkit-keyframes nav-icons {
		0% {
			-moz-transform: translate3d(0,1em,0);
			-webkit-transform: translate3d(0,1em,0);
			-ms-transform: translate3d(0,1em,0);
			transform: translate3d(0,1em,0);
			opacity: 0;
		}

		100% {
			-moz-transform: translate3d(0,0,0);
			-webkit-transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
			opacity: 1;
		}
	}

	@-ms-keyframes nav-icons {
		0% {
			-moz-transform: translate3d(0,1em,0);
			-webkit-transform: translate3d(0,1em,0);
			-ms-transform: translate3d(0,1em,0);
			transform: translate3d(0,1em,0);
			opacity: 0;
		}

		100% {
			-moz-transform: translate3d(0,0,0);
			-webkit-transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
			opacity: 1;
		}
	}

	@keyframes nav-icons {
		0% {
			-moz-transform: translate3d(0,1em,0);
			-webkit-transform: translate3d(0,1em,0);
			-ms-transform: translate3d(0,1em,0);
			transform: translate3d(0,1em,0);
			opacity: 0;
		}

		100% {
			-moz-transform: translate3d(0,0,0);
			-webkit-transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
			opacity: 1;
		}
	}

	#header {
		-moz-animation: header 1s 2.25s forwards;
		-webkit-animation: header 1s 2.25s forwards;
		-ms-animation: header 1s 2.25s forwards;
		animation: header 1s 2.25s forwards;
		-moz-backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		backface-visibility: hidden;
		-moz-transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
		cursor: default;
		display: inline-block;
		opacity: 0;
		position: relative;
		text-align: center;
		top: -1em;
		vertical-align: middle;
		width: 100%;
	}

#header h1 {
	color: #ffffff;
    text-decoration: none;
    text-shadow: 0 1px 0 #ccc,
       0 2px 0 #c9c9c9,
       0 3px 0 #bbb,
       0 4px 0 #b9b9b9,
       0 5px 0 #aaa,
       0 6px 1px rgba(0,0,0,.1),
       0 0 5px rgba(0,0,0,.1),
       0 1px 3px rgba(0,0,0,.3),
       0 3px 5px rgba(0,0,0,.2),
       0 5px 10px rgba(0,0,0,.25),
       0 10px 10px rgba(0,0,0,.2),
       0 20px 20px rgba(0,0,0,.15);
	font-size: 4.35em;
	font-weight: 900;
	letter-spacing: -0.035em;
	line-height: 1em;
}

#header nav {
	margin: 1.5em 0 0 0;
}

			#header nav li {
				-moz-animation: nav-icons 0.5s ease-in-out forwards;
				-webkit-animation: nav-icons 0.5s ease-in-out forwards;
				-ms-animation: nav-icons 0.5s ease-in-out forwards;
				animation: nav-icons 0.5s ease-in-out forwards;
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transform: translate3d(0,0,0);
				-webkit-transform: translate3d(0,0,0);
				-ms-transform: translate3d(0,0,0);
				transform: translate3d(0,0,0);
				display: inline-block;
				height: 5.35em;
				line-height: 5.885em;
				opacity: 0;
				position: relative;
				top: 0;
				width: 5.35em;
			}
				/* HEADER Animation for Icons Appearing in Sequence*/
				#header nav li:nth-child(1) {
					-moz-animation-delay: 2.5s;
					-webkit-animation-delay: 2.5s;
					-ms-animation-delay: 2.5s;
					animation-delay: 2.5s;
				}

				#header nav li:nth-child(2) {
					-moz-animation-delay: 2.75s;
					-webkit-animation-delay: 2.75s;
					-ms-animation-delay: 2.75s;
					animation-delay: 2.75s;
				}

				#header nav li:nth-child(3) {
					-moz-animation-delay: 3s;
					-webkit-animation-delay: 3s;
					-ms-animation-delay: 3s;
					animation-delay: 3s;
				}

				#header nav li:nth-child(4) {
					-moz-animation-delay: 3.25s;
					-webkit-animation-delay: 3.25s;
					-ms-animation-delay: 3.25s;
					animation-delay: 3.25s;
				}

				#header nav li:nth-child(5) {
					-moz-animation-delay: 3.5s;
					-webkit-animation-delay: 3.5s;
					-ms-animation-delay: 3.5s;
					animation-delay: 3.5s;
				}

				#header nav li:nth-child(6) {
					-moz-animation-delay: 3.75s;
					-webkit-animation-delay: 3.75s;
					-ms-animation-delay: 3.75s;
					animation-delay: 3.75s;
				}

				#header nav li:nth-child(7) {
					-moz-animation-delay: 4s;
					-webkit-animation-delay: 4s;
					-ms-animation-delay: 4s;
					animation-delay: 4s;
				}

				#header nav li:nth-child(8) {
					-moz-animation-delay: 4.25s;
					-webkit-animation-delay: 4.25s;
					-ms-animation-delay: 4.25s;
					animation-delay: 4.25s;
				}

				#header nav li:nth-child(9) {
					-moz-animation-delay: 4.5s;
					-webkit-animation-delay: 4.5s;
					-ms-animation-delay: 4.5s;
					animation-delay: 4.5s;
				}

				#header nav li:nth-child(10) {
					-moz-animation-delay: 4.75s;
					-webkit-animation-delay: 4.75s;
					-ms-animation-delay: 4.75s;
					animation-delay: 4.75s;
				}

#header nav a:before {
    transition: all 0.2s ease-in-out;
    border-radius: 100%;
    border: solid 1px #fff;
    display: block;
    font-size: 1.75em;
    height: 2.5em;
    line-height: 2.5em;
    position: relative;
    text-align: center;
    top: 0;
    width: 2.5em;
}

			#header nav a {
				-webkit-tap-highlight-color: transparent;
				-webkit-touch-callout: none;
				border: 0;
				display: inline-block;
			}

			#header nav a:hover {
				font-size: 1.1em;
			}

			#header nav a:hover:before {
				background-color: rgba(255, 255, 255, 0.175);
				color: #fff;
			}

			#header nav a:active {
				font-size: 0.95em;
                text-shadow: 2px 2px 3px #333333;
				background: none;
			}

			#header nav a:active:before {
				background-color: rgba(255, 255, 255, 0.35);
				color: #fff;
			}

			#header nav a span {
				display: none;
			}			

#header p {
	font-size: 1.25em;
	margin: 0.75em 0 0.25em 0;
	opacity: 0.75;
}

footer {
    background: none repeat scroll 0 0 grey;
    background-image: url(../images/drywood.jpg);
    height: 100px;
    margin: auto;
    width: 100%;
    z-index:300;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow:none;
    
    -moz-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
    -webkit-transition:all 0.5s ease-in-out;
}

#footer.show {
    height: 48px;

    -moz-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
    -webkit-transition:all 0.5s ease-in-out;
}
/* Icons */

.fa-li {
	display: inline;
	border-radius: 100%;
	border: solid 1px #fff;
	position: static;
	cursor: pointer;
}

.fa-sort-desc, .fa-sort-asc {
    position: relative;
    display: block;
    text-align: center;
    cursor: pointer;
}

.dropdown {
    margin: -30px;
    padding-left: 20px;
    display: inline-block;
    position: relative;
}

.fa-li:before {
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}


/*
li {
    text-align: -webkit-match-parent;
}
*/

#bio, #bio-quote, #projects, #minigames, #about {
    color: rgb(47,37,1);
    text-shadow: 1px 1px 3px rgba(0,0,0,0.1); 
}

#projects li{
    display: inline-block;
    padding: 20px;
    text-align: inherit;
}

.main-blog, #bio, #bio-quote, #projects, #minigames, #about {
/*	background: #F39814;*/
/*	background-image: url(../images/trees.jpg);*/
	color: rgb(47,37,1);
    text-shadow: 1px 1px 3px rgba(0,0,0,0.1);
	padding: 20px;
    align-items: center;
    justify-content: center;
    position: relative;	
}

pre {
    white-space: pre-wrap;
    padding: 40px;
    color: black;
    background: whitesmoke;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.1);
    border-radius: 70px 70px 70px;

}

i {
	padding: 20px 20px 20px 20px;
}

.i-bg {
	border-radius: 10px;
	border: 3px solid rgb(241,241,241,.2);
}

.fa {
	text-decoration: none;
	position: relative;
	color: #ffffff;
}

.fa-ul, #blog-button, .blog-posts, #projects-button, #blog-button {
	padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

.fa-quote-left {
    margin: auto;
}

.fa-sort-desc, .fa-sort-asc, .fa-quote-left {
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

.fa:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

.fa > .label {
	display: none;
}