<div class="main-blog">
<div id="navbar">
    <a href="#/blog#post-phaser">Phaser + Cocoon</a>
    <a href="#/blog#post-js-expansion">JS Fun!</a>
    <a href="#/blog#post-bubblesort">BubbleSort</a>
    <a href="#/blog#post-beginning">Origin Story</a>
</div>
    <div id="blog-posts">
        <div class="post-container" id="post-mysql">
            <h1>Life: MySQL</h1>
            <h3>March 31, 2016</h3>

            <span><img class="post" src="../images/MySQL_logo.png" height="200" width="300"></a></span>

            <p>Databases?! Who needs 'em, you say? Well...everyone. I'll cover setting up simple prototyping databases like use of MongoDB with and without the Mongoose ORM in a later post for you. This post is directed at Mac users (those among you that would actually like to have your data relate to one another) that want to setup a MySQL server on your local machine.</p>

            <p>What does data relation mean exactly? Relational databases allow you reflect the relationships between your data. That sounds easy enough, right? For example, if you're creating the next MMO that will raise the bar for the industry, you might have users and posts associated with the interactive chat between those users. Your 'User' table might have not only have columns of personal information about them that you could represent on their profile page or in chat <i>"pwning"</i> someone but also a 'user_id' to identify them as unique compared to every other user registered and stored in your database. That's where <em>SQL</em>  comes in. There are many relational database cloud services out there like <a target="_blank" href="https://aws.amazon.com/rds/">Amazon RDS</a> that can help you get the ball rolling, but you can also check some out of the database types individually and see what might fit the individual needs of your project: </p>

            <ul class="link-list">
                <li><a target="_blank" href="https://www.postgresql.org/">PostgreSQL</a> – 15 years going strong and open source to boot</li>
                <li><a target="_blank" href="https://www.mysql.com/">MySQL</a> – so popular, you can't sit with them at lunch</li>
                <li><a target="_blank" href="https://mariadb.org/">MariaDB</a> – constructed by the original devs of MySQL and also open source</li>
                <li><a target="_blank" href="https://msdn.microsoft.com/en-us/library/mt590198(v=sql.1).aspx">Microsoft SQL Server</a> – robust and still used by quite a few companies</li>
            </ul>

            <p>
            Have you scribed out enough learning about them all? Great! Onto the setup!
                <ol>
                    <li>Go to dev.mysql.com, download the dmg and install <small>(IMPORTANT - Make note of your username(usually root at first) and temporary password, You will need the password later, so WRITE IT DOWN)</small></li>
                    <li>Go to your terminal and type: 
                        <ul>
                            <li><code class="terminal">sudo .</code> <small>(to be able to type multiple commands)</small></li>
                            <li><code class="terminal">cd</code> into your mysql install directory (check with <code class="terminal">'which mysql'</code>) <small>NOTE: If you try to log into the database now with <code class="terminal">mysql -u root -p</code> and then your password it won't work (common ERROR: <code class="terminal">ERROR 2002 (HY000): Can't connect to local MySQL server through socket '/tmp/mysql.sock' (2)</code>)</small></li>
                            <li><code class="terminal">sudo /usr/local/mysql/support-files/mysql.server start</code> 
                            OR
                            <code class="terminal">sudo launchctl load -F /Library/LaunchDaemons/com.oracle.oss.mysql.mysqld.plist</code> <small>(for OSX El Capitan/Yosemite)</small>
                            to start the MYSQL Server</li>
                            <li><code class="terminal">mysql -u root -p</code>, then use your temporary password to log in</li>
                        </ul>
                    </li>
                    <li>You should finally be prompted with: <code class="terminal">Starting MySQL</code></li>
                    <li>Followed by <code class="terminal">.. SUCCESS!</code></li>
                    <li>NOTE: If you try <code class="terminal">'USE mysql'</code> now, it won't work b/c you have to change your password for the current user (most likely 'root'), so do so by typing in the following command, replacing 'NEW_PASSWORD' with your new password: <code class="terminal">SET PASSWORD FOR 'root'@'localhost' = PASSWORD('NEW_PASSWORD');</code></li>
                    <li>If you never want the password you just set to expire type in: <code class="terminal">ALTER USER 'root'@'localhost' PASSWORD EXPIRE NEVER;</code></li>
                </ol>
            And BOOM! everything is setup. You can now <code class="terminal">'USE'</code> any database you want, run queries, create tables the whole gamut. Now run along little grasshopper and get to designing your schema.
            </p>
        </div>
        <br>
        <hr>    
        <div class="post-container" id="post-phaser">
            <h1>Phaser & Cocoon.io: What They Don't Tell You</h1>
            <h3>FEBRUARY 1, 2016</h3>

            <span><img class="post" src="../images/phaser_logo.png" height="240" width="300"></a></span>

            <p>Everyone loves gaming, whether they’ll admit to it or not. How easy is it to actually get started in the world of game development, however?</p>

            <p>That depends on a few factors:</p>
            <ul>
                <li>Web/HTML5 or Mobile (or Both)
                </li>
                <li>2D or 3D sprites and assets (<a target="_blank" href="https://www.codeandweb.com/">2D Tools</a> & <a target="_blank" href="https://www.blender.org/">3D Tools</a>)
                </li>
                <li>Your familiarity with gaming engines and whether you feel comfortable building a game from scratch using Javascript, Java, Actionscript and other common languages (there are also options like <a target="_blank" href="http://www.gameclosure.com/">GameClosure</a> that can also give you out-of-the-box game design assistance as well)
                </li>
                <li>How much time you have for development
                </li>
            </ul>
            <p>Once you’ve decided what your end goal is, you can start to figure out what will be necessary to actually bring that dream to life. If you want a game that’s mobile and accessible for everyone, keep in mind that smartphones can essentially run your web game within a browser if all else fails for App Store & Google Play Store deployment. A mobile native game will require some form of compiling into either an apk for Android or xcarchive for iOS and may not be what you need for the needs of your particular project, so always weigh your options and focus on the developer time necessary for any avenue.</p>

            <p>Also keep in mind that existing mobile app frameworks like Ionic and build tools like PhoneGap are there to help you reach your goal, however, they are not specifically built with games in mind(e.g.: Ionic, which is built on top of Angular, is more geared towards single-page apps and does not officially support <a target="_blank" href="https://www.chromeexperiments.com/webgl">WebGL</a> or other graphics APIs) and you may max out their capabilities. You can find yourself in a very square peg in a round hole type of situation, but sometimes you can make it work with enough research. <a target="_blank" href="http://cocoon.io">Cocoon.io</a> is designed to make your life easier in this respect in that you can compile your app for iOS and Android concurrently with minimal headache. Just a word to the wise: make different sizes of your imagery for all possible devices and load them in turn for whichever device is detected to make your life easier.</p>

            <p>It is of the utmost importance to build your game around the different game states necessary for the full experience you want to give your user. Phaser, a wonderful Javascript gaming library with its own built-in physics engine, is designed in such a way that you are forced to always remember this fact when building any project. Every state should reflect assets (music, imagery, etc.) that you want to preload and display in either that state or those that succeed it. Once the assets are preloaded, you add them to each state when you need them on the screen and for the player to interact with. You can set a variety of inputs whether you want your game to be keyboard or touch responsive if designing for mobile.</p>

            <p>Typical Phaser game file structures separate the loading of these assets into a Preloader state within the common file structure:</p>
            <ul>
                <li><b>Boot</b> (to set the game config, can also act as a loading screen)</li>
                <li><b>Preloader</b> (to load all assets)</li>
                <li><b>MainMenu</b>(to link most other states not involved in gameplay e.g.: Options, About, Credits etc.)</li>
                <li><b>Game</b>(the main state for gameplay)</li>
                <li><b>GameOver</b>(a state if the player loses)</li>
                <li><b>NextLevel</b>(a state to advance forward with increased difficulty)</li>
                <li><b>Win</b>(a state when the player finally wins the game)</li>
                <li><b>Leaderboard</b>(an optional state to retain a player scoring system)</li>
            </ul>    
            <p>Once your assets are loaded and your game file structure designed, you can start to actually code your game.</p>

            <p>There are a wide variety of tutorials out there to help set you on the path to developing your game fully, but it is fundamental to your success to map out the game’s concept and end goal to help drive the user experience as you continue to develop. Decide how you want players to interact with the game and whether you want your game to be free or have in-game purchases? Do you want it cross-platform or just web-based?</p>

            <p>If you decide you want to develop for Android, make sure you sign up for your Google Play developer’s license and configure your <a target="_blank" href="https://github.com/amirudin/build/wiki/Android-Signing">keystore</a> and <a target="_blank" href="http://developer.android.com/tools/publishing/app-signing.html#cert">certificate</a> ahead of time so that they’re ready once you go to deploy your app to the Play Store. For setting up your app for iOS, check out <a target="_blank" href="http://www.raywenderlich.com/8003/how-to-submit-your-app-to-apple-from-no-account-to-app-store-part-1">this</a> wonderfully concise set of easy-to-follow instructions.</p>

            <p>To continue your journey down the rabbit hole, check out the following tutorials and resources to try your hand at Phaser:</p>
            <ul>
              <li><a target="_blank" href="http://www.joshmorony.com/category/phaser-tutorials/">joshmorony.com</a></li>
              <li><a target="_blank" href="http://www.html5gamedevs.com/forum/14-phaser/">HTML5 Dev Forums</a></li>
              <li><a target="_blank" href="http://phaser.io/tutorials/making-your-first-phaser-game">Phaser.io</a></li>
            </ul>
        </div>
        <br>
        <hr>
        <div class="post-container" id="post-js-expansion">
            <h1>Javascript: The Expansion Pack</h1>
            <h3>OCTOBER 23, 2015</h3>

            <p>I’m always looking for an edge in my design projects. I am amazed at what is already readily available to utilize courtesy of the open source community. There are a wealth of JS libraries out there to give you some ideas of what’s possible and any gaps unaccounted for can be filled by instantiating your own idea and adding it for use on the public domain. I consider this fact alone another important reason to always pay your code forward to lend to future re-imaginings and possible collaborations with other people in the community. Check out some of the links below, fork and star the ones of interest on Git and get the creative juices flowing if they can be integrated with any of your current or future projects.</p>
            <ul class="link-list">
                <li><a target="_blank" href="http://maroslaw.github.io/rainyday.js/">Rainy Day JS</a> – a simple JS application with gorgeously rendered effects</li>
                <li><a target="_blank" href="http://riccardoscalco.github.io/textures/">Textures JS</a> – adds that extra bit of flair to any custom graphics or interfaces</li>
                <li><a target="_blank" href="http://www.createjs.com/easeljs">Easel JS</a> – lends creative templates for shapes, animations and games</li>
                <li><a target="_blank" href="http://markdalgleish.com/projects/bespoke.js/">Bespoke JS</a> – presents an elegant and simplified way to create customized presentations</li>
                <li><a target="_blank" href="http://hammerjs.github.io/">Hammer JS</a> – allows you to add touch event functionality to your websites</li>
                <li><a target="_blank" href="http://datamaps.github.io/">DataMaps JS</a> – for stats/cartography geeks like me</li>
            </ul>
            <p>Of course the aforementioned are only a drop in the bucket, so feel free to leave a comment suggesting any others that I’ve missed.</p>
        </div>
        <br>
        <hr>
        <div class="post-container" id="post-bubblesort">
            <h1>Bubble Sort: How Does It Work?</h1>
            <h3>OCTOBER 19, 2015</h3>

            <span class="post-img"><img class="post" src="../images/bubbles.jpg" height="200" width="300"></span>

            <p>The time complexity of Bubble Sort makes you wonder why it’s necessary to even rebuild such an expensive function, but the effort in making your brain iron out the details of how it works differently than running a native .sort( ) method and its ease of implementation is the true joy of the exercise. Default to either the native .sort( ) method or a sort included in a library like UnderscoreJS/lodash if you want to save both the time and effort though later in your code, as Bubble Sort is never as effective as we’d like it to be.</p>

            <p>The native method is considered more effective in how it chooses to instead use recursion and a set pivot point (e.g.array[0])to compare all the elements in the array against. Any values in the array that are smaller than the pivot are pushed to the left of that pivot point and smaller values are pushed to the right. After all elements have been placed in the proper position in respect to the pivot, you may have to concatenate the left, pivot, and right sets of values back together again to return a newly sorted array depending on whether you used several arrays to sort the left/pivot/right sets of values or sorted them in the array provided.</p>

            <p><a target="_blank" href="https://www.nczonline.net/blog/2012/11/27/computer-science-in-javascript-quicksort/">Click here</a> to delve deeper and learn all of the individual steps involved beyond the aforementioned.</p>

            <p>For a working implementation of Bubble Sort, you can check out my code below and read through the pseudo-code to talk your way through it. Happy coding!</p>

<pre><code class="language-javascript">
var <b>bubbleSort</b> = function(array) {
var anySwapsYet;
<em style="color: darkgrey;">//create a variable to save a boolean determining whether the item should be swapped or not</em>
for(var i = 0; i < array.length; i++){
<em style="color: darkgrey;">//loop through the array to get the values</em>
anySwapsYet = false;
<em style="color: darkgrey;">//set a false flag to start with for swapping the items since you need to loop through again to compare them first</em>
for (var j = 0; j < array.length; j++){
<em style="color: darkgrey;">//loop through the array a second time to get another point of reference when reassigning the values held at each indices</em>
    if(array[j] > array[j + 1]){
    <em style="color: darkgrey;">//if the value of the element is greater than what is next to it in the array </em> 
        var temp = array[j]; 
        <em style="color: darkgrey;">//save value temporarily so you can swap it after reassigning/swapping the other value</em>
        array[j] = array[j + 1];
        <em style="color: darkgrey;">//assign the value of the index with the value next to it</em> 
        array[j + 1] = temp;
        <em style="color: darkgrey;">//then assign that value to the temp value in case it needs to be swapped after the next iteration</em>
    }
}
if(!anySwapsYet){
<em style="color: darkgrey;">//if there were no swaps after the iteration</em>
    return array;
    <em style="color: darkgrey;">//simply return the array</em>
}
}
return array;
};      
</code>
</pre>
                </div>
                <br>
                <hr>
                <div class="post-container" id="post-beginning">
                    <h1>The Beginning of an Era</h1>
                    <h3>October 19, 2015</h3>

                    <span class="post-img"><img class="post" src="../images/baywater.jpg" height="286" width="508"></span>

                    <blockquote><p>A lesson learned in remembering to breathe. A firehose of information shoots recursive blasts without base cases at my face, and I am reminded to leave a note for my future self: “A month ago you didn’t even know how to write a simple for loop, and now look at how far you’ve come.”</p></blockquote>

                    <p>As the end of week 2 of my time at Telegraph Academy comes to a close, I find myself filled with gratitude. I am thankful for the opportunity to continue to pursue the technical training necessary to emerge a competitive force in the ever-changing job market and thankful to be surrounded by individuals who will stop at nothing to make that possible. Under their empathic tutelage I can see my knowledge transforming into applicable methodology. The road ahead will be incredible. I can’t wait to see what they throw at us next.</p>
                </div>
                <!-- .ajax requested <li> blog-posts here -->
            </div>

    <!-- <span id="blog-button-hide">
        <i class="fa fa-sort-asc fa-4x"></i>
    </span> -->
</div>