<div id="horizontal-scroll">
    <span class="quote">
        <i class="fa fa-quote-left fa-3x fa-pull-left"></i><br>
        <p align="left">The journey of a thousand miles<br>begins with a single step...</p>
    </span>
    <h1 id="author">Jazz Lyles</h1>
    <p class="blurbs">Game Engineer &nbsp;&bull;&nbsp; Autonomous Thinker &nbsp;&bull;&nbsp; Finds Fun In The Little Things</p>
    <!-- Nav & Contact Icons -->
    <div class="main-nav info">
        <nav>
            <ul class="fa-ul">
                <li class="fa-li"><a target="_blank" href="https://github.com/existenzial"><i class="fa fa-github fa-2x i-bg" title="GitHub"><span class="label"></span></i></a></li>
                <li class="fa-li">
                    <a target="_blank" href="https://linkedin.com/in/jazzlyles"> <i class="fa fa-linkedin fa-2x" title="LinkedIn"><span class="label"></span></i></a>
                </li>
                <li class="fa-li">
                    <a href="mailto:ripley36706@gmail.com"> <i class="fa fa-envelope-o fa-2x" title="email me"><span class="label"></span></i></a>
                </li>
            </ul>
        </nav>
    </div>
</div>